@model BlogWithMvc5.Models.Article

@{
    ViewBag.Title = "Details - " + ViewBag.Message;

}
<h2>@ViewBag.Message</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/image/" + @Html.DisplayFor(model => model.Picture))" width="200" height="240" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>

@Html.Partial("_CommentView", new ViewDataDictionary { { "id", @Model.Id } })


@Html.Partial("_CommentShowView", new ViewDataDictionary { { "comments", ViewBag.articleComment } })


<p>
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts{
    <script type="text/javascript">
        $('#Save').click(function () {

            var form = $("#formOfComment");
            var url = form.attr("action");
            var formData = form.serialize();
            $.post(url, formData, function (data) {
                $("#msg").html(data);
            });
        })
    </script>
}