@*@model IEnumerable<BlogWithMvc5.Models.Article>*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<BlogWithMvc5.Models.Article>

@{
    ViewBag.Title = "Visitor";
}

<h2>Guest</h2>


<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Author
        </th>
        <th>
            Content
        </th>
        <th>
            Picture
        </th>
        <th>
            Release Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details", "Visitor", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.Subject)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content).ToString().Substring(0, 100) ...
            </td>
            <td>
                <img src="@Url.Content("~/Content/image/" + @Html.DisplayFor(modelItem => item.Picture))" width="100" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
    }

</table>

<div class="pagedList">
    @Html.PagedListPager(Model, pageNumber => Url.Action("Pagination", new { pageNumber }), PagedListRenderOptions.TwitterBootstrapPagerAligned)
</div>